modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Production"
author = 40784934
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && npm run preview"

[[workflows.workflow]]
name = "Run"
author = 40784934
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0"
